.app {
  text-align: center;
  font-family: 'Orelega One';
  margin: 0 0 120px 0;
}

.app__container {
  margin: 0 150px;
}
.app h1 {
  color: #223066;
}

.app__container__title {
  font-size: 60px;
  font-weight: 400;
}

.app__container__subtitle {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 0.22em;
  color: #7D7D7D;
}

.app__container__titleSecond {
  font-size: 48px;
  font-weight: 400;
}